{% extends "navbar.html" %}
{% load static %}

{% block content %}

	<!--================ Banner Area =================-->
	<!-- <section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-left">
					<h2>Consultants</h2>
					<div class="page_link">
						<a href="index.html">Home</a>
						<a href="doctors.html">Consultants</a>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!--================End Banner Area =================-->
    <br><br><br><br><br><br><br>
    <!--================Form =================-->
	<div class="container">
      
      <div class="card" >
                <div class="card-header">
                  <center><h4 class="card-title">Log In as Admin</h4>
                  <p class="card-category">Enter Your Details</p></centerr>
                </div>
                <div class="card-body">
                  <form method="post" action="{% url 'water:signin_admin' %}">
                    {% csrf_token %}
                   
                  <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email Id</label>
                          <input type="email" name="email" class="form-control" required="true">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Password</label>
                          <input type="password" name="password" class="form-control" required="true">
                        </div>
                      </div>
                    </div>
                    <br>
                    <center><button type="submit" class="btn btn-info pull-center">Sign In</button></center>

                    <div class="clearfix"></div>
                  </form>
                  {% for message in messages %}
                  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                       </button>
                       {{ message }}
                     </div>
                     {% endfor %}
                </div>
              </div>
	</div>

	<br><br><br>

{% endblock %}