{% extends 'sidebarAdmin.html' %}
{% block admin %}
<br>
<br>
<br>

        <div class="container-fluid">
              <div class="card" >
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Upload Dataset</h4>
                </div>
                <div class="card-body">
                  <form method="post" action="getModel">
                    {% csrf_token %}                
                  <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="file" class="form-control" name="fileupload" value="fileupload" id="fileupload"> <label for="fileupload" class="bmd-label-floating"> Select a file to upload</label>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-center">Upload</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
        
<div class="container">
	<p>
{{msg}}
</p>
</div>
{% endblock %}