{% extends "navbar.html" %}
{% load static %}
{% block content %}

<!--================ Home Banner Area =================-->
  <section class="home_banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content row">
          <div class="col-lg-12">
            <h1 style="color:black">Join hands with us to save Water</h1>
            <p style="color:black">Water Security can only be achieved through Water Management.</p>
            <a class="main_btn mr-10" href="{% url 'water:signup' %}">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Home Banner Area =================-->

  
  <br><br><br>

  <!--================ About Myself Area =================-->
  <section class="about_myself pad_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pr-0">
          <div class="about_img">
            <img class="img-fluid w-100" src="{% static 'img/india.png' %}" height=555 width=650 alt="">
          </div>
        </div>

        <div class="col-lg-6 pl-0">
          <div class="about_box">
            <div class="section-title-wrap text-left">
              <h1>About Us</h1>
              <p>
                Water E-Governance aims to monitor water consumptions of individuals and cluster the data to predict the yearly consumption of the area so as to practice to save water for the future generations.
              </p>
            </div>

            <div class="activity">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="activity_box">
                    <div>
                       <i class="lnr lnr-users"></i>  
                    </div>
                    <h3><span class="counter">163</span> M</h3>
                    <p>People lack access to safe water</p>
                  </div>
                </div>

                
                <div class="col-lg-6 col-md-6">
                  <div class="activity_box">
                    <div>
                      <i class="lnr lnr-users"></i>
                    </div>
                    <h3><span class="counter">210</span>M</h3>
                    <p>People lack access to sanitation</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="activity_box">
                    <div>
                      <i class="lnr lnr-users"></i>
                    </div>
                    <h3 class="counter">3965</h3>
                    <p>Total Volunteers</p>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6">
                  <div class="activity_box">
                    <div>
                      <i class="lnr lnr-book"></i>
                    </div>
                    <h3 class="counter">1465</h3>
                    <p>Total Project</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End About Myself Area =================-->


  <!--================ Start Feedback Area =================-->
  <section class="feedback_area section_gap relative">
    <div class="container">
      <div class="row justify-content-center section-title-wrap">
        <div class="col-lg-12">
          <h1>Learn more about what we do</h1>
          <p>
           Together, we can empower millions of people with access to safe water and sanitation.
          </p>
        </div>
      </div>

      <div class="feedback_contents justify-content-center align-items-center">
        <div class="active-review-carusel owl-carousel">
          <div class="row">
            <div class="col-lg-6">
              <img src="{% static 'img2/water-source.jpg' %}" alt="">
            </div>

            <div class="col-lg-6">
              <div class="single-feedback-carusel">
                <div class="d-flex flex-row">
                  <h4 class="" style="font-size:25px">How do we help control?</h4>
                 
                </div>
                <p class="">
                   The system would detect if too much amount of water is flowing through the sensor for the prescribed amount of time. It can immediately warn the user by a mobile notification to turn off the tap. Citizens can also get daily water consumption updates, to ensure that they haven't crossed the consumption limit.
                   
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <img src="{% static 'img2/drought.jpg' %}" alt="">
            </div>

            <div class="col-lg-6">
              <div class="single-feedback-carusel">
                <div class="d-flex flex-row">
                  <h4 class="" style="font-size:25px">Why are we needed?</h4>
                  
                </div>
                <p class="">
                 Our method is fairly cost effective. Moreover, we plan to give credits if the water consumption is below the threshold, which can be used in various government incentives. This will motivate more and more people to set goals to save water, by installing harvesting facilities and similar techniques.
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <img src="{% static 'img2/watercrisis.jpg' %}" alt="">
            </div>

            <div class="col-lg-6">
              <div class="single-feedback-carusel">
                <div class="d-flex flex-row">
                  <h4 class="" style="font-size:25px">How do we exactly work?</h4>
  
                </div>
                <p class="">
                 The huge amount of data generated from so many smart water meters on the database is very suitable
                 for prediction algorithm using machine learning. Over time the prediction results would become more accurate and can be used to predict how much water storage capacity should be expanded. This would help in aloting budgets for construction projects for future planning.
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <img src="{% static 'img2/children.jpg' %}" alt="">
            </div>

            <div class="col-lg-6">
              <div class="single-feedback-carusel">
                <div class="d-flex flex-row">
                  <h4 class="" style="font-size:25px">Why should you trust us?</h4>
                  
                </div>
                <p class="">
                  We believe that effective water management is the ultimate solution to this global scarcity of water. Our solutions focus on empowerment through access to affordable financing. We invite you to see how your support changes lives by learning more about our smart solutions, where we work, the people we empower and the magnitude of the water crisis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Feedback Area =================-->

  <!--================ Start Offered Services Area =================-->
  <section class="service_area section_gap">
    <div class="container">
      <div class="row justify-content-center section-title-wrap">
        <div class="col-lg-12">
          <h1>Our Offered Services</h1>
          <p>
            Water E-Governance provides a number of services to the public, for an efficient way to conserve water, as well as provide facilities to every individual, whether rich or poor.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single_service">
            <span class="lnr lnr-rocket"></span>
            <a href="#">
              <h4>Consumption</h4>
            </a>
            <p>
              Track how much water you have been consuming, and plan accordingly.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single_service">
            <span class="lnr lnr-heart-pulse"></span>
            <a href="#">
              <h4>Alerts</h4>
            </a>
            <p>
              Get Alerts from us about your water usage.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single_service">
            <span class="lnr lnr-bug"></span>
            <a href="#">
              <h4>Annual Water Prediction</h4>
            </a>
            <p>
              The consumption data across the various families of the smart city is clustered together to predict next year's annual consumption.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single_service">
            <span class="lnr lnr-users"></span>
            <a href="#">
              <h4>Planning</h4>
            </a>
            <p>
              How to plan your daily consumption.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Offered Services Area =================-->


  <!--================ Start Appointment Area =================-->
  <section class="appointment-area">
    <div class="container">
      <div class="row justify-content-between align-items-center appointment-wrap">
        <div class="col-lg-5 col-md-6 appointment-left">
          
          <h1>
            There's a smart way to end the water crisis
          </h1>
          
          <p>That's where Water E-governance comes in the picture. We are here to generate awareness about water scarcity and implement smart solutions that can help both public and government in effective water management. </p>
        </div>
        <div class="col-lg-6 col-md-6 pt-60 pb-60">
          <div class="appointment-right">
            <form class="form-wrap" action="#">
              <h3 class="pb-20 text-center mb-20">Add impact to your inbox</h3>
              <p class="pb-20 text-center mb-20">Get our email updates about our work and the people we empower.</p>
              <input type="text" class="form-control" name="name" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'">
              <input type="text" class="form-control" name="name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'">
              <input type="text" class="form-control" name="phone" placeholder="Phone " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'">
              <input type="email" class="form-control" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
              
              <textarea name="messege" class="" rows="5" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"></textarea>
              <div class="text-center confirm_btn_box">
                <button class="main_btn text-uppercase">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Appointment Area =================-->
  <br><br>

{% endblock %}