{% extends 'sidebarUser.html' %}
{% block user %}

<script type="text/javascript">
    function myfunction(val)
    {
      //val = {{ myconsumption }};
      console.log(val)
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Consumption', val],
          
        ]);

        var options = {
          width: 600, height: 500,
          redFrom: 200, redTo: 300,
          yellowFrom:100, yellowTo: 200,
          minorTicks: 5,min:0,
          max:300,
          greenFrom:0,greenTo:100
      
        };


        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

      }
    }
    </script>

<script type="text/javascript">
    myvar = myfunction({{myconsumption|safe }});
    
</script>
   
    <div class="content content-center">
        <div class="container-fluid">
           <div class="row">
      <div class="col-md-12" style="margin-left:20%">
    <h2>Your Today's Consumption</h2>
    <div id="chart_div" style="width: 400px; height: 120px;"> {{context.as_html}}
    </div>
  </div>
</div>
 <div style="margin-left:18%;margin-top:30%" class="col-md-6 alert alert-info"><p><h3>Contribute to Your City Use 50 L a Day </h3> Total Family Members {{members}} </p></div>
  </div>
    
  </div>
</div>
  <!--<div>{{chart.as_html}}</div>-->
{% endblock %}