{% extends 'sidebarUser.html' %}
{% block user %}
<div class="content content-center">
	<h3>Total Members {{members}} per head 50 L</h3>

{{chart.as_html}}
<div class="row">
	<div class="col-md-8">
              <div class="card" >
		<div class="table-responsive">
			<table class="table">
				<tr><th class="text-center">Date</th><th class="text-center">Consumption</th></tr>
	{% for first in table %}
	<tr>
	{% for value in first %}
	<td class="text-center">
    {{ value|safe }}
</td>
    {% endfor %}
</tr>
    {% endfor %}
</table>
</div>
</div>
</div>
</div>
{% endblock %}