<!DOCTYPE html>
<html>
<head>

	<title>Individual Panel</title>
	
</head>
<body>

  <div class="content">
        <div class="container-fluid">
          
            <h1><center>Analytics</center></h1>
            
           
          
          <div class="row">
            <div class="col-lg-12 col-md-12">
           <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title" style="padding:5px;">Check Previous Water Consumption data</h4>
                </div>
               
             <div class="card-body">
              <div class="row" style="padding-bottom:20px;">
                 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-top:2%;">
                    
                    <div>
                      <p style="font-size:18px;">Starting Year </p>
                         <input type="date" name="startingyear">
                    </div>

                  </div>
                 
                  
                 <div class="col-lg-4 cold-md-4 col-sm-6 col-xs-12" style="padding-top:2%;">
                    <div>
                    <p style="font-size:18px;">Ending Year</p>
                    <input type="date" name="endingyear">
                    </div>
                 </div>

                  <div class="col-lg-4 cold-md-4 col-sm-6 col-xs-12" style="padding-top:2%;">

                 	<button type="submit" class="btn btn-primary btn-large">Submit</button>

                 </div>


              </div>

            </div>
 
             
            </div>
          </div>


        <div class="col-lg-12 col-md-12">
           <div class="card">
                <div class="card-header card-header-danger" >
                  <h4 class="card-title" style="padding:5px;">Check Previous Purity Data</h4>
                </div>
               
            <div class="card-body">
              <div class="row" style="padding-bottom:20px;">
                 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-top:2%;">
                    
                    <div style="margin-left:10%">
                      <p style="font-size:18px;">Starting Year </p>
                         <input type="date" name="startingyear">
                    </div>

                  </div>
                 
                  
                 <div class="col-lg-4 cold-md-4 col-sm-6 col-xs-12" style="padding-top:2%;">
                     <div style="margin-left:10%">
                    <p style="font-size:18px;">Ending Year</p>
                    <input type="date" name="endingyear">
                     </div>
                 </div>

                 <div class="col-lg-4 cold-md-4 col-sm-6 col-xs-12" style="padding-top:2%;">

                 	<button type="submit" class="btn btn-primary btn-large">Submit</button>

                 </div>

              </div>

            </div>
 
             
            </div>
          </div>
        </div>
   
        

      </div>

    </div>

</body>
</html>